<!DOCTYPE html>
<html>
<head>
    <title>TicTacTaco</title>
    <style>
        .row div {
            padding: 10px;
		    border: 1px solid black;
		    height: 30px;
		    width: 30px;
		    float: left;
        }
        .row {
            clear: both;
        }
    </style>
</head>
<body>
    Click to play TicTacTaco. <br />
    <div>
        <div class="row">
            <div id="0_0" onClick="place(this)"></div>
            <div id="1_0" onClick="place(this)"></div>
            <div id="2_0" onClick="place(this)"></div>
        </div>
        <div class="row">
            <div id="0_1" onClick="place(this)"></div>
            <div id="1_1" onClick="place(this)"></div>
            <div id="2_1" onClick="place(this)"></div>
        </div>
        <div class="row">
            <div id="0_2" onClick="place(this)"></div>
            <div id="1_2" onClick="place(this)"></div>
            <div id="2_2" onClick="place(this)"></div>
        </div>
    </div>
    <script>
        var currentPlayer = "T";
        var won = false;
        function place(box) {
            if(box.innerText != "" || won) return;
            box.innerText = currentPlayer;
            currentPlayer == "T" ? currentPlayer = "B" : currentPlayer = "T";
            checkGameBoard();
        }
        function checkGameBoard() {
            for(var i = 0; i <= 2; i++) {
                checkWinner(document.getElementById(i + "_0").innerText,
                document.getElementById(i + "_1").innerText,
                document.getElementById(i + "_2").innerText);
                checkWinner(document.getElementById("0_" + i).innerText,
                document.getElementById("1_" + i).innerText,
                document.getElementById("2_" + i).innerText);
            }
            checkWinner(document.getElementById("0_0").innerText,
            document.getElementById("1_1").innerText,
            document.getElementById("2_2").innerText);
            checkWinner(document.getElementById("0_2").innerText,
            document.getElementById("1_1").innerText,
            document.getElementById("2_0").innerText);
        }
        function checkWinner(first, second, third) {
            if(first !="" && first == second && first == third) {
                alert("Winner!");
                won = true;
            }
        }
    </script>
</body>
</html>